include ./variables.pug
mixin heading (text)
  h2.head - #{text} -

mixin links (path)
  li: a(href= path + "/") الرئيسية
  li: a(href= path + "/pages/menu.html") القائمة
  li: a(href= path + "/pages/booking.html") الحجز
  li: a(href= path + "/pages/galary.html") المعرض
  li: a(href= path + "/pages/contact-us.html") اتصل بنا
  li: a(href= path + "/pages/about.html") عن الموقع

mixin header (path) 
  .logo: a(href= path + "/"): img(src= path + "/imgs/logo.png")
  .dropmenu: a: i(class="fa-solid fa-bars")
  .overlay
    .close: div X
    ul.menu
      +links(path)
  ul.navlinks
    +links(path)

mixin footer (path)
  .cont
    .footer-sections
      .footer-section
        h3 عن المطعم
        p مطعم أرمانيا إيطاليا يقدم لكم أفضل الأطباق الإيطالية المعدة بأجود المكونات الطازجة. تأسس مطعمنا في عام 2002 ومنذ ذلك الوقت ونحن نسعى لتقديم تجربة طعام فريدة ومميزة.
      .footer-section
        h3 روابط سريعة
        ul
          +links(path)
      .footer-section
        h3 تابعنا على
        ul.social-media
          li: a(href="#"): i.fab.fa-facebook-f
          li: a(href="#"): i.fab.fa-twitter
          li: a(href="#"): i.fab.fa-instagram
          li: a(href="#"): i.fab.fa-linkedin-in
      .footer-section
        h3 معلومات التواصل
        ul
          li
            strong العنوان:
            |  شارع البطل احمد عبدالعزيز، المهندسين، الجيزة
          li
            strong رقم الهاتف:
            |  0103854127
          li
            strong البريد الالكتروني:
            |  armonia-italia@gmail.com
    .footer-bottom
      p &copy; 2024 أرمانيا إيطاليا. جميع الحقوق محفوظة.

mixin head (title, path)
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href= path + "/css/main.css")
    link(rel="stylesheet", href= path + "/css/all.min.css")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap")
    link(rel="shortcut icon", href= path + "/imgs/logo.png", type="image/x-icon")
    title #{title}

mixin menu (num, path)
  .menushow
    +heading("القائمة")
    ul
      li.button.active المقبلات
      li.button الأطباق الرئيسية
      li.button البيتزا
      li.button الحلويات
      li.button المشروبات
    .type
      .cards
        each one, index in appetizers
          if index <= num
            .card
              .img: img(src= path + one.src)
              .text
                h2= one.name
                .des= one.des
                .price= one.price
      .cards
        each one, index in main 
          if index <= num
          .card
            .img: img(src= path + one.src)
            .text
              h2= one.name
              .des= one.des
              .price= one.price
      .cards
        each one, index in pizza 
          if index <= num
          .card
            .img: img(src= path + one.src)
            .text
              h2= one.name
              .des= one.des
              .price= one.price
      .cards
        each one, index in deserts 
          if index <= num
          .card
            .img: img(src= path + one.src)
            .text
              h2= one.name
              .des= one.des
              .price= one.price
      .cards
        each one, index in drinks 
          if index <= num
          .card
            .img: img(src= path + one.src)
            .text
              h2= one.name
              .des= one.des
              .price= one.price
    a.button للمزيد
