include ../helpers/pug/variables.pug
.menushow
  +heading("القائمة")
  ul
    li.button.active المقبلات
    li.button الأطباق الرئيسية
    li.button البيتزا
    li.button الحلويات
    li.button المشروبات
  .type
    .cards
      each one in appetizers 
        .card
          .img: img(src= one.src)
          .text
            h2= one.name
            .des= one.des
            .price= one.price
    .cards
      each one in main 
        .card
          .img: img(src= one.src)
          .text
            h2= one.name
            .des= one.des
            .price= one.price
    .cards
      each one in pizza 
        .card
          .img: img(src= one.src)
          .text
            h2= one.name
            .des= one.des
            .price= one.price
    .cards
      each one in deserts 
        .card
          .img: img(src= one.src)
          .text
            h2= one.name
            .des= one.des
            .price= one.price
    .cards
      each one in drinks 
        .card
          .img: img(src= one.src)
          .text
            h2= one.name
            .des= one.des
            .price= one.price